VITE_SUPABASE_URL=your-supabase-project-url
VITE_SUPABASE_ANON_KEY=your-supabase-anon-key
MAIN_VITE_STRIPE_SECRET_KEY=
MAIN_VITE_STRIPE_MONTHLY_PRICE_ID=
MAIN_VITE_STRIPE_ANNUAL_PRICE_ID=
SUPABASE_SERVICE_ROLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
